In [6]:
import pandas as pd
# Treasury dataset on new backend = http://openbeta-data.usaspending.gov/d/wnef-4t3i
# note that there's a 50k limit for api calls, and defaults to 1,000 if limit is not explicitly set
query = ("http://openbeta-data.usaspending.gov/resource/wnef-4t3i.json?"
    "$select=date_trunc_ymd(signeddate),date_trunc_ymd(effectivedate)"
    "&$where=fiscal_year='2013'"
    "&$limit=5000")
raw_data_2013 = pd.read_json(query)
query = ("http://openbeta-data.usaspending.gov/resource/wnef-4t3i.json?"
    "$select=date_trunc_ymd(signeddate),date_trunc_ymd(effectivedate)"
    "&$where=fiscal_year='2014'"
    "&$limit=5000")
raw_data_2014 = pd.read_json(query)

In [7]:
raw_data_2014.head()

  date_trunc_ymd_effectivedate date_trunc_ymd_signeddate
0      2009-11-17T00:00:00.000   2014-06-05T00:00:00.000
1      2014-09-11T00:00:00.000   2014-09-11T00:00:00.000
2      2014-06-15T00:00:00.000   2014-06-15T00:00:00.000
3      2014-09-11T00:00:00.000   2014-09-11T00:00:00.000
4      2014-05-11T00:00:00.000   2014-05-11T00:00:00.000

In [8]:
raw_data_2014.describe()

       date_trunc_ymd_effectivedate date_trunc_ymd_signeddate
count                          5000                      5000
unique                          374                       327
top         2013-09-30T00:00:00.000   2013-09-30T00:00:00.000
freq                             96                        67